extends index

//- block head
//-   link(href="./stylesheets/style.css", rel="stylesheet")


mixin iter-options(listy)
  each thing in listy
    +id-slug-option(thing)

mixin id-slug-option({id, slug, title})
    label(for=title)
    option(value=id)=title

block content
  h1=title
  br
  div
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="card-title") Create/Edit Gallery 
        form(action="/admin/gallery" method="post" enctype="application/json")
          div(class="form-control w-full max-w-xs")
            select(
              name="galleryID"
              class="select select-primary w-full max-w-xs" 
              hx-get="/admin/single"
              hx-target="#gallery-data"
            )
              - var selection
              option(value="-- New Gallery --" selected) -- New Gallery --
              label(for="New Gallery")
              +iter-options(galleries)
          br
          div(id="gallery-data")
            label(for="title")
              span(class="label-text") Title: 
              div(id="gallery-title")
                input(
                name="title" 
                type="text" 
                class="input input-bordered"
              )
            br
            label(for="description")
              span(class="label-text") Description:
              div(id="gallery-description" hx-swap-oob="true")
                input(
                  id="gallery-description"
                  name="description" 
                  type="text" 
                  class="input input-bordered"
                )
          br
          input(class="btn btn-primary" type="submit")
    br
    br
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="title") Create/Edit Page
        form(action="/admin/page", method="post", enctype="application/json")
          select(name="page")
            option(value="" selected) -- New Page --
            +iter-options(pages)
          br
          label(for="title" class="input-group input-group-vertical") Title: 
          input(name="title", type="text")
          br
          input(class="btn btn-primary" type="submit")
    br
    br
    div(class="card card-compact w-96 bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="title") Photo Upload
        form(action="/admin/photo", method="post", enctype="multipart/form-data")
          label(for="target") Location: 
          select(name="target")
            option(value="" selected) -- No Target --
            optgroup(label="Galleries" )
              +iter-options(galleries)
            optgroup(label="Pages")
              +iter-options(pages)
          br
          label(for="photos") Photo(s):
          input(name="photos", type="file", multiple="multiple", accept="image/*", required="required")
          br
          input(class="btn btn-primary" type="submit")

block append scripts
  script(src="https://unpkg.com/htmx.org/dist/ext/json-enc.js" async) 