div(id="gallery-data")
  label(for="title")
    span(class="label-text") Title
    div(id="gallery-title")
      input(
        name='title' 
        type='text' 
        class='input input-bordered w-full' 
      )
  br
  label(for="description")
    span(class="label-text") Description
    div(id="gallery-description")
      input(
        name="description" 
        type="text" 
        class="input input-bordered w-full"
      )
    br
    input(class="btn btn-primary" type="submit" value="Create") 