div(id="gallery-data")
  label(for="title")
    span(class="label-text") Title: 
    div(id="gallery-title")
      input(
        id='gallery-title' 
        name='title' 
        type='text' 
        class='input input-bordered' 
        value= galleryTitle
      )
  br
  label(for="description")
    span(class="label-text") Description:
    div(id="gallery-description")
      input(
        id="gallery-description"
        name="description" 
        type="text" 
        class="input input-bordered"
        value= galleryDescription
      )