mixin photo({path, id, title, caption, description})
  img.preview.rounded-box(src=path, id=id, name=title)
  #photo-data.w-full
    label(for="image")
        input(name="photoId", type="number", value=id, hidden)
      span.label-text Title
        #photo-title
          input.input.input-bordered.w-full(
            name="photoTitle",
            type="text",
            value=title
          )
      span.label-text Caption
        #photo-caption
          input.input.input-bordered.w-full(
            name="photoCaption",
            type="text",
            value=caption
          )
      span.label-text Description
        #photo-description
          input.input.input-bordered.w-full(
            name="photoDescription",
            type="text",
            value=description
          )

mixin iter-options(listy)
  each thing in listy
    +id-slug-option(thing)

mixin id-slug-option({id, title})
  label(for=title)
  option(value=id)= title

#gallery-data
  label(for="title")
    span.label-text Title
    #gallery-title
      input.input.input-bordered.w-full(
        name="title",
        type="text",
        value=galleryTitle
      )
  br
  label(for="description")
    span.label-text Description
    #gallery-description
      input.input.input-bordered.w-full(
        name="description",
        type="text",
        value=galleryDescription
      )
    br
  label(for="gallery-page-association")
    span.label-text Page
    select.select.select-primary.w-full(name="pageId")
      label(for="page-association")
      if currentPage
        option(selected, value=currentPage)
      else
        option(selected, disabled, value="-- No Page --")
      if pages
        +iter-options(pages)
  #photo-display-upload
    br
    span.label-text Gallery Photos
    section.mt-4.mx-auto.relative(class="w-10/12")
      .grid.grid-cols-3.justify-center.gap-3
      if photos
      each item in photos
        +photo(item)
        br
      else
        p.alert.alert-info-primary No photos at the moment!
        .card.card-compact.w-full.bg-base-100.shadow-xl
      .photo-upload
        h2.card-title Photo Upload
        form(
          hx-post="/admin/photo",
          hx-target="#photo-display-upload",
          hx-encoding="multipart/form-data"
        )
          .form-control.w-full.max-w-xs
            select(hidden, name="target")
              option(value=galleryId, selected)
          br
          label(for="photos")
            span.label-text Photo(s):
            #photos
              input.file-input.file-input-bordered.file-input-primary.w-full.max-w-xs(
                name="photos",
                type="file",
                multiple="multiple",
                accept="image/*",
                required="required"
              )
            #imagePreview
          br
          input.btn.btn-primary(type="submit", value="Upload")
    br
    input.btn.btn-primary(
      type="button",
      hx-delete="/admin/gallery",
      hx-include="[name='galleryId']",
      value="Delete"
    ) 
    input.btn.btn-primary(type="submit", value="Update") 
