mixin photo({path, id, title, caption, description})
  img.preview.rounded-box(src=path, id=id, name=title)
  #photo-data.w-full
    label(for="image")
      span
        #label-text
          input(name="photoId", type="number", value=id, hidden)
      span.label-text Title
        #photo-title
          input.input.input-bordered.w-full(
            name="photoTitle",
            type="text",
            value=title
          )
      span.label-text Caption
        #photo-caption
          input.input.input-bordered.w-full(
            name="photoCaption",
            type="text",
            value=caption
          )
      span.label-text Description
        #photo-description
          input.input.input-bordered.w-full(
            name="photoDescription",
            type="text",
            value=description
          )

#photo-display-upload
  br
  span.label-text Gallery Photos
  section.mt-4.mx-auto.relative(class="w-10/12")
    .grid.grid-cols-3.justify-center.gap-3
    if photos
    each item in photos
      +photo(item)
      br
    else
      p.alert.alert-info-primary No photos at the moment!
      .card.card-compact.w-full.bg-base-100.shadow-xl
    #photo-upload.photo-upload
      h2.card-title Photo Upload
      form(
        htmx-post="/admin/photo",
        hx-encoding="multipart/form-data",
        htmx-target="#photo-display-upload"
      )
        .form-control.w-full.max-w-xs
          label(for="target") Location:
          select(hidden, name="target")
            option(value=galleryId, selected)
        br
        label(for="photos")
          span.label-text Photo(s):
          #photos
            input.file-input.file-input-bordered.file-input-primary.w-full.max-w-xs(
              name="photos",
              type="file",
              multiple="multiple",
              accept="image/*",
              required="required"
            )
          #imagePreview
        br
        input.btn.btn-primary(type="submit", value="Upload")
  br
  input.btn.btn-primary(type="submit", value="Update") 
