mixin photo({path})
  img(src=path class="rounded-box")

div(id="gallery-data")
  label(for="title")
    span(class="label-text") Title: 
    div(id="gallery-title")
      input(
        name='title' 
        type='text' 
        class='input input-bordered w-full' 
        value= galleryTitle
      )
  br
  label(for="description")
    span(class="label-text") Description:
    div(id="gallery-description")
      input(
        name="description" 
        type="text" 
        class="input input-bordered w-full"
        value= galleryDescription
      )
    each item in photos
      +photo(item)
      br