extends index

mixin iter-options(listy)
  each thing in listy
    +id-slug-option(thing)

mixin id-slug-option({id, title})
  label(for=title)
  option(value=id)= title

block content
  .text-center.hero-content
    .w-full
      h1.mb-6.text-5xl.font-bold= title
  br
  div
    .card.card-compact.w-full.bg-base-100.shadow-xl
      #create-gallery.card-body
        h2.card-title Create/Edit Gallery
        form(action="/admin/gallery", method="post")
          .form-control.w-full
            select.select.select-primary.w-full(
              name="galleryId",
              hx-get="/admin/single",
              hx-target="#gallery-data"
            )
              label(for="New Gallery")
              option(value="", selected) -- New Gallery --
              +iter-options(galleries)
          br
          #gallery-data
            label(for="title")
              span.label-text Title
              #gallery-title
                input.input.input-bordered.w-full(name="title", type="text")
            br
            label(for="description")
              span.label-text Description
              #gallery-description
                input.input.input-bordered.w-full(
                  name="description",
                  type="text"
                )
            br
            input.btn.btn-primary(type="submit", value="Create") 
    br
    br
    .card.card-compact.w-full.bg-base-100.shadow-xl
      .card-body
        h2.card-title Create/Edit Page
        form(action="/admin/page", method="post")
          .form-control.w-full
            select.select.select-primary.w-full(
              name="pageId",
              hx-get="/admin/singlepage",
              hx-target="#page-data"
            )
              option(value="", selected) -- New Page --
              +iter-options(pages)
            br
          #page-data
            label(for="title")
              span.label-text Title
              #page-title
                input.input.input-bordered.w-full(name="title", type="text")
            br
            input.btn.btn-primary(type="submit", value="Create")
    br
    .card.card-compact.w-full.bg-base-100.shadow-xl
      .card-body
        h2.card-title Publish to Followers' Inboxes
        form(action="/admin/activity", method="post")
          .form-control.w-full
            select.select.select-primary.w-full(name="pageId")
              option(value="", selected, disabled)
              +iter-options(pages)
            br
          #publish-page
            input.btn.btn-primary(type="submit", value="Publish")

block append scripts
  script(src="https://unpkg.com/htmx.org/dist/ext/json-enc.js", async) 
