extends index

mixin iter-options(listy)
  each thing in listy
    +id-slug-option(thing)

mixin id-slug-option({id, title})
    label(for=title)
    option(value=id)=title

block content
  div(class="text-center hero-content")
    div(class="w-full")
      h1(class="mb-6 text-5xl font-bold")= title
  br
  div
    div(class="card card-compact w-full bg-base-100 shadow-xl")
      div(class="card-body" id="create-gallery")
        h2(class="card-title") Create/Edit Gallery 
        form(
          action="/admin/gallery" 
          method="post"
          enctype="application/json"
          )
          div(class="form-control w-full max-w-xs")
            select(
              name="galleryId"
              class="select select-primary w-full max-w-xs" 
              hx-get="/admin/single"
              hx-target="#gallery-data"
            )
              label(for="New Gallery")
              option(value="" selected) -- New Gallery --
              +iter-options(galleries)
          br
          div(id="gallery-data")
            label(for="title")
              span(class="label-text") Title: 
              div(id="gallery-title")
                input(
                name="title" 
                type="text" 
                class="input input-bordered w-full"
              )
            br
            label(for="description")
              span(class="label-text") Description:
              div(id="gallery-description")
                input(
                  name="description" 
                  type="text" 
                  class="input input-bordered w-full"
                )
            br
            input(class="btn btn-primary" type="submit" value="Create") 
    br
    br
    div(class="card card-compact w-full bg-base-100 shadow-xl")
      div(class="card-body")
        h2(class="card-title") Create/Edit Page
        form(action="/admin/page", method="post", enctype="application/json")
          div(class="form-control w-full max-w-xs")
            select(
              name="pageId"
              class="select select-primary w-full max-w-xs"
              hx-get="/admin/singlepage"
              hx-target="#page-data"
              )
              option(value="" selected) -- New Page --
              +iter-options(pages)
            br
            div(id="page-data")
              label(for="title")
                span(class="label-text") Title:
                div(id="page-title")
                  input(
                    name="title"
                    type="text"
                    class="input input-bordered w-full"
                  )
          br
          input(class="btn btn-primary" type="submit")

block append scripts
  script(src="https://unpkg.com/htmx.org/dist/ext/json-enc.js" async) 