mixin photo({path, alt, title})
  .preview
    img(src=path alt=alt name=title class="rounded-box")
    div(id="photo-data" class="max-w-xl")
      label(for="image")
        span(class="label-text") Title
          input(
            name='title' 
            type='text' 
            class='input input-bordered w-96' 
            value= title
          )
        span(class="label-text") Caption
          input(
            name='caption' 
            type='text' 
            class='input input-bordered w-96' 
            value= caption
          )
        span(class="label-text") Description
          input(
            name='description' 
            type='text' 
            class='input input-bordered w-96' 
            value= description
          )

mixin iter-options(listy)
  each thing in listy
    +id-slug-option(thing)

mixin id-slug-option({id, title})
    label(for=title)
    option(value=id)=title

div(id="gallery-data")
  label(for="title")
    span(class="label-text") Title
    div(id="gallery-title")
      input(
        name='title' 
        type='text' 
        class='input input-bordered w-full' 
        value= galleryTitle
      )
  br
  label(for="description")
    span(class="label-text") Description
    div(id="gallery-description")
      input(
        name="description" 
        type="text" 
        class="input input-bordered w-full"
        value= galleryDescription
      )
    br
    label(for="gallery-page-association")
      span(class="label-text") Current Page 
      div(id="current-page")
        input(
          name="title"
          type="text"
          class="input input-bordered w-full"
          value= currentPage ? "pageTitle" : "-- No Current Page Association --"
          disabled
        )
      br
    div(class="w-full") 
      select(
        name="pageId"
        class="select select-primary w-full"
      )
        label(for="page-association")
        option(value="-- No Selection --" selected)
        if pages
          +iter-options(pages)
    div(id="photo-display-upload")
      section(class="mt-4 mx-auto w-10/12 relative")
        div(class="grid grid-cols-3 justify-center gap-3")
        if photos 
        each item in photos
          +photo(item)
          br
        else
          p(class="alert alert-info-primary ") No photos at the moment!
          div(class="card card-compact w-full bg-base-100 shadow-xl")
        div(class="photo-upload")
          h2(class="card-title") Photo Upload
          form(
            hx-post="/admin/photo" 
            hx-target="#photo-display-upload"
            hx-encoding="multipart/form-data"
          )
            div(class="form-control w-full max-w-xs")
              select(
                hidden
                name="target"
              )
                option(value=galleryId selected)
            br
            label(for="photos")
              span(class="label-text") Photo(s):
              div(id="photos")
                input(
                  name="photos" 
                  type="file" 
                  class="file-input file-input-bordered file-input-primary w-full max-w-xs"
                  multiple="multiple" 
                  accept="image/*" 
                  required="required"
                )
              div(id="imagePreview")
            br
            input(
              class="btn btn-primary" 
              type="submit" 
              value="Upload")
    br
    input(class="btn btn-primary" type="submit" value="Update") 