#page-data
  label(for="title")
    span.label-text Title:
    #page-title
      input.input.input-bordered.w-full(
        name="title",
        type="text",
        value=pageTitle
      )
  br
  input.btn.btn-primary(
    type="button",
    hx-delete="/admin/page",
    hx-include="[name='pageId']",
    value="Delete"
  ) 
  input.btn.btn-primary(type="submit", value="Update")
